#col1{
    background-image:linear-gradient(to top,white,grey);
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 0px;
}
#tick{
    margin-bottom: 10%;
}
#col2{
    margin-left: 0px;
}
